# KNN ALgorithm Classification

In Knn classification, behind the algo work :-
      
      True = 1, False = 0

step 1: let p1=3, p2=7, c=T/F (1/0) , K=3
    As you can see down below in df.head(), there is a default column,
    suppose that is a 0 = D1 ,1 = D2 ,2 = D3, 3 = D4
    these D's are our majorities,
    
Now, we have to find D1,D2,D3,D4 from this Encludien method 
  from Encludien methond 
                  
                  { ED = √(x2-x1)²+(y2-y1)² }
      
 D1 = √(3-7)²+(7-7)² = 4 
 D2 = √(3-7)²+(7-4)² = 5
 D3 = √(3-3)²+(7-4)² = 3
 D4 = √(3-1)²+(7-4)² = 3.6 
 
 Now, above the solution we find all the D's, 
 
 a/c to KNN, we have supposed, the k value is 3,
 we have to find nearest value of k(3) in D's ,
 
    so, we have D3,D4 and D1 these are the nearest values of k.
    so, on the basis of thes D's we found which class the belong,
    
  for example, D1 = F (0) , D3 = T(1) , D4 = T(1) 
  
 After verifying the class, we go with majority vote,
       
       like we have TTF, so the majority vote is T that is 1.
       
    So by solving own, we found the prediction is 1 .
    
    
 lets try with sklearn.

# Now try with sklearn

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"P1":[7,7,3,1],
                  "P2":[7,4,4,4],
                  "Class":[0,0,1,1]})

In [3]:
df.head()

   P1  P2  Class
0   7   7      0
1   7   4      0
2   3   4      1
3   1   4      1

In [4]:
X = df.drop('Class',axis=1)
y = df['Class']

In [5]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3,metric="euclidean").fit(X,y)

In [6]:
knn.predict([[3,7]])

array([1], dtype=int64)

# Now KNN Regression

In Regression, Behind algo work :-
    
    As we all know in regression their not any class or T/F.
    So, here we predict.
    
for Regression in Encludien method :- 
         
           { ED = √(x2-x1)²+(y2-y1)² }
    
    let x2 = 58 , k=3
     
     "W":[55,56,45,40]
     "H":[5,5.2,4.8,4]
Here, 

D1 = √(58-55)² = 3
D2 = √(58-56)² = 2
D3 = √(58-45)² = 13
D4 = √(58-40)² = 18

Now, we have to find the nearest of K =3,

Then we, analyse the nearest value of k (3),
 
    D1 is 5
    So, now we find our prediction is 5

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({"W":[55,56,45,40],
                  "H":[5,5.2,4.8,4]})
df.head()

    W    H
0  55  5.0
1  56  5.2
2  45  4.8
3  40  4.0

In [5]:
X = df.drop('H',axis=1)
y= df.H

In [6]:
y

0    5.0
1    5.2
2    4.8
3    4.0
Name: H, dtype: float64

In [9]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=3,metric="euclidean")

knn.fit(X,y)

KNeighborsRegressor(metric='euclidean', n_neighbors=3)

In [10]:
knn.predict([[58]])

array([5.])